﻿@using EntityLayer.Concreat
@model List<News>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Янгиликлар Саҳифаси</h1>
                </div>
               
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model.Where(x => x.status == 1))
                    {
                        <div class="col-12 col-sm-6 col-md-2 d-flex align-items-stretch" style="max-width:800px">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0 d-flex">
                                    <div class="col-md-6 pr-7 text-primary font-weight-bold">
                                        @item.Users.Name
                                    </div>
                                    <div class="text-muted">
                                        @item.PublishDate.ToString("dd-MM-yyyy")
                                    </div>
                 
                                </div>


                                <div class="card-body pt-3 d-flex flex-column justify-content-center align-items-center position-relative" style="height: 250px; border: 3px dashed #ccc;">
                                    <img id="image-preview"
                                         src="@item.photoNews"
                                         alt="Rasm" class="resizable"
                                         style="max-width: 100%; max-height: 150px; display: @(item.photoNews != null && item.photoNews.Any() ? "block" : "none");">
                                </div>

                                <div class="form-group">
                                    <textarea id="short-news" name="title" class="form-control shadow-lg rounded-5 p-3"
                                              rows="2" placeholder="Yangi yangilik sarlavhasini kiriting...">@item.Title</textarea>
                                </div>


                                <div class="card-footer w-auto">
                                    <div class="text-center">
                                        <a href="/News/GetByIdNew/@item.Id" class="btn btn-sm btn-primary w-100">
                                            <i class="fa fa-pen"></i>  Таҳрирлаш
                                        </a>
                                        <a href="/News/DeleteNews/@item.Id" class="btn btn-sm btn-danger w-100 mt-2">
                                            <i class="fas fa-trash-alt"></i> Ўчириш
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->

</body>
</html>