@using EntityLayer.Concreat
@model List<Users>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- /.navbar -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Муаллифлар Саҳифаси</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-2 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0 d-flex">
                                    <span class="mr-auto">@item.Position</span>
                                    <span>@item.CreatedAt.ToString("dd MMMM yyyy")</span>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.Name</b></h2>
                                            <p><i class="fas fa-phone-alt"></i> @item.PhoneNumber</p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Emile: @item.Email</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <p class="text-muted text-sm"><b>Тил: </b>@item.Language</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6 pr-7">
                                            <a href="/Users/UserDelete/@item.id" class="btn btn-sm bg-teal" style="text-align:left">
                                                <i class=" fas fa-trash">Ўчириш</i>
                                            </a>
                                        </div>
                                        <div class="col-md-6 pr-7">
                                            <a href="/Users/UpdateUsers/@item.id" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i>таҳрирлаш
                                            </a>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->

</body>
</html>


